.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(./bg.png) no-repeat 50%/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: red;
  }
}
